.checkbox {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.checked {
  border: 2px solid #ffffff;
  display: flex;
  justify-items: center;
  align-items: center;
  img {
    margin: auto;
    position: relative;
    user-select: none;
  }
}
