@import "../../../../resources/assets/styles/variables";
@import "~@mcaskill/sass-mq";

.stepper-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  form {
    .inputFile {
      .uploadFile {
        @media screen and (-ms-high-contrast: active),
          screen and (-ms-high-contrast: none) {
          margin-top: 16px;
        }
        display: flex;
        flex-direction: row;
        gap: 16px;

        .uploadImg {
          border: 1px solid white;
          padding: 15px;
          border-radius: 54px;
          @media screen and (-ms-high-contrast: active),
            screen and (-ms-high-contrast: none) {
            margin-right: 5px;
          }
        }

        .uploadLabel {
          color: #ffffff;
          left: 25.55%;
          right: 0%;
          top: 24.07%;
          bottom: 25.93%;
          font-family: Righteous;
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 27px;
          display: flex;
          align-items: center;
        }
      }
    }

    .uploadedFileText {
      display: flex;
      flex-direction: row;
      gap: 20px;
      left: 41.88%;
      right: 45%;
      top: 53.12%;
      bottom: 43.5%;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.02em;
      color: #ffffff;
    }
  }
}

@include mq($from: mobile, $and: mq($until: s-height, $media-feature: height)) {
  .stepper-inputs {
    grid-row-gap: 10px;
    row-gap: 10px;
    margin-bottom: 10px;
    form {
      .inputFile .uploadFile {
        gap: 10px;

        .uploadImg {
          padding: 5px;
          width: 30px;
          height: 30px;
        }

        .uploadLabel {
          font-size: 13px;
        }
      }
      .uploadedFileText {
        font-size: 13px;
      }
    }
  }
}
