@import "../../../resources/assets/styles/variables";
@import "~@mcaskill/sass-mq";

.slot-machine-container {
  display: flex;
  font-family: "Righteous";

  .slot-machine-screen {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: url("../../../resources/assets/img/slot-machine-spot.png")
      no-repeat center;
    background-position-x: 53%;
    background-size: 787px 530px;
    .slot-machine-screen-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin: auto;
      row-gap: 40px;
      max-width: 496px;
      padding-left: 1%;
    }
  }

  .shop-and-play-layer {
    z-index: 2;
    opacity: 0.4;
  }
}

@include mq($until: m-height, $media-feature: height) {
  .slot-machine-container {
    .slot-machine-screen {
      background-size: 600px auto;
      .slot-machine-screen-content {
        padding-left: 1%;
        row-gap: 30px;
      }
    }
  }
}
@include mq($until: s-height, $media-feature: height) {
  .slot-machine-container {
    .slot-machine-screen {
      background-position-x: 51%;
      background-size: 330px auto;
      .slot-machine-screen-content {
        row-gap: 20px;
      }
    }
  }
}

@include mq($until: xs-height, $media-feature: height) {
  .slot-machine-container {
    .slot-machine-screen {
      background-size: 250px auto;
      .slot-machine-screen-content {
        row-gap: 0;
      }
    }
  }
}

/*
@include mq(
  $from: tablet-portrait,
  $and: mq($until: mobileLandscape, $media-feature: height)
) {
  .slot-machine-container {
    .slot-machine-screen {
      background-size: auto 60%;
      background-position-x: 52%;
    }
  }
}

@include mq($until: tablet-portrait) {
  .slot-machine-container {
    position: initial;
    margin-top: 10%;
    display: block;
    height: 85vh;

    .title {
      font-size: 7vh;
      margin: 20px auto;
      max-width: 90%;
      line-height: initial;
    }

    .slot-machine-screen {
      background: url("../../../resources/assets/img/slot-spot.png") no-repeat
        center;
      position: absolute;
      width: 100%;
      background-size: 120% 65%;
      top: 0;
      @media screen and (orientation: landscape) {
        background-size: auto 60%;
      }
    }
  }
}

@include mq($until: mobile-sm) {
  .slot-machine-container {
    .slot-machine-screen {
      min-height: 450px;

      .title {
        max-width: 85%;
      }

      .screen-container {
        width: 260px;
        height: 105px;
        margin: auto;
      }
    }
  }
}

@media only screen and (min-device-width: $tablet-portrait) and (max-device-width: $tablet-landscape) and (orientation: portrait) {
  .slot-machine-container .slot-machine-screen {
    background-position-x: 85%;
  }
}
*/
