@import "../../../resources/assets/styles/variables";
@import "~@mcaskill/sass-mq";

.refund-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
  font-family: Open Sans;
  row-gap: 24px;
}
.errors {
  min-height: 20px;
}
@include mq(
  $from: tablet-portrait,
  $and: mq($until: mobileLandscape, $media-feature: height)
) {
  .refund-content {
    form {
      input[type="text"] {
        font-size: 3.2vh;
        padding: inherit;
      }

      .agree {
        margin-top: 15px;
        font-size: 2.5vh;
      }
    }
  }
}

@include mq($until: tablet-portrait) {
  .refund-content {
    max-width: 350px;

    @media screen and (orientation: landscape) {
      max-width: 250px;
    }

    .subtitle {
      font-size: 3.5vh;
      margin: 0 auto;
      width: 100%;
      line-height: inherit;
    }

    form {
      input[type="text"] {
        font-size: 2.5vh;
        padding-bottom: 1px;
      }

      label {
        font-size: 2vh;
        line-height: inherit;
        top: 0;
      }

      .agree {
        margin-top: 15px;
        font-size: 2.5vh;

        .text {
          line-height: 2.5vh;
          font-size: 1.5vh;
        }
      }
    }
  }
}

@include mq($until: mobileLandscape, $media-feature: height) {
  .content {
    grid-row-gap: initial;
    row-gap: initial;

    .refund-options {
      grid-row-gap: 5px;
      row-gap: 5px;
    }
  }
}
