.button-area {
  display: flex;
  margin: 5% auto;
  justify-content: center;
  gap: 10px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 493px;
  row-gap: 25px;
}

.shop-and-play-layer {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: url("../../../resources/assets/img/background-layer.png")
    no-repeat center;
  background-size: auto 85%;
}

.sad-content {
  .content-up {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .lips {
    width: 50px;
    height: 10px;
    border-radius: 30px;
    background-color: black;
    opacity: 0.3;
    margin: 10px auto 0;
  }
}

@include mq($until: tablet-portrait) {
  .shop-and-play-layer {
    background: url("../../../resources/assets/img/background-layer-mobile.png")
      no-repeat;
    position: absolute;
    top: 5%;
    background-size: 100% 622px;
  }
  .content {
    row-gap: 15px;
  }
  .sad-content {
    .content-up {
      img {
        margin: 5%;
      }
    }

    .lips {
      width: 50px;
      height: 10px;
      border-radius: 30px;
      background-color: black;
      opacity: 0.3;
      margin: 10px auto 0;
    }
  }
}

@include mq($until: mobile-sm) {
  .shop-and-play-layer {
    top: 13%;
    background-size: 100% 590px;
  }
}

@include mq($until: mobileLandscape, $media-feature: height) {
  .sad-content {
    .content-up {
      align-items: center;

      img {
        width: 30px;
      }
    }

    .lips {
      width: 30px;
      height: 4px;
      border-radius: 30px;
      background-color: black;
      opacity: 0.3;
      margin: 10px auto 0;
    }
  }
}
