$color-primary: #ff0003;
$color-light-primary: #a9c9ff;
$color-secondary: #ffffff;
$color-grey: #c4c4c4;
$color-info: #e8f1fb;
//SLOT MACHINE
$color-machine-levier: #c4c4c4;
$color-machine-head: #000000;
$color-machine-border: #de0504;
//WEB RESPONSIVE
$xs-height: 330px;
$s-height: 565px;
$m-height: 745px;

$mobile-landscape: 645px;
$smartphone-height: 641px;
$iphone-x-height: 823px;
$smartphone-width: 414px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;

// Breakpoint
$mq-breakpoints: (
  mobile-sm: 350px,
  mobile: $mobile-landscape,
  tablet-portrait: $tablet-portrait,
  tablet: $tablet-landscape,
  desktop-sm: 1366px,
  desktop: 1440px,
  desktop-large: 1600px,
  desktop-xlarge: 1681px,
  mobileLandscape: $mobile-landscape,
  xs-height: $xs-height,
  s-height: $s-height,
  m-height: $m-height,
);

$mq-show-breakpoints: (
  mobile-sm,
  mobile,
  tablet-portrait,
  tablet,
  desktop-sm,
  desktop,
  desktop-large,
  desktop-xlarge,
  mobileLandscape,
  xs-height,
  s-height,
  m-height
);
