$color-primary: #ff0003;
$color-light-primary: #a9c9ff;
$color-secondary: #ffffff;
$color-grey: #c4c4c4;

$laptop-height: 720px;

//SLOT MACHINE
$color-machine-levier: #c4c4c4;
$color-machine-head: #000000;
