$color-primary: #ff0003;
$color-light-primary: #a9c9ff;
$color-secondary: #ffffff;
$color-grey: #c4c4c4;

//SLOT MACHINE
$color-machine-levier: #c4c4c4;
$color-machine-head: #000000;
$color-machine-border: #de0504;

//WEB RESPONSIVE
$laptop-height: 720px;
$smartphone-height: 641px;
$iphone-x-height: 823px;
$smartphone-width: 414px;

// Breakpoint
$mq-breakpoints: (
  mobile-sm: 350px,
  mobile: 375px,
  tablet-portrait: 768px,
  tablet: 1024px,
  desktop-sm: 1366px,
  desktop: 1440px,
  desktop-large: 1600px,
  desktop-xlarge: 1681px,
);

$mq-show-breakpoints: (
  mobile-sm,
  mobile,
  tablet-portrait,
  tablet,
  desktop-sm,
  desktop,
  desktop-large,
  desktop-xlarge
);

$breakpoints-shown: (mobile, mobileLandscape, tablet, desktop, wide);
