@import "../../../resources/assets/styles/variables";

.go-to-game-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: url("../../../resources/assets/img/slot-spot.png") no-repeat
    center;
  @media (max-width: $smartphone-width) {
    background: url("../../../resources/assets/img/spot.png") no-repeat center;
  }
  @media (max-height: $laptop-height) {
    background-size: 530px auto;
  }
  @media (max-width: $smartphone-width) and (max-height: $iphone-x-height) {
    background-size: 470px auto;
  }
  @media (max-width: $smartphone-width) {
    position: inherit;
    height: 500px;
    margin-bottom: 20%;
  }
  .go-to-game-content {
    row-gap: inherit;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    max-width: 430px;
    @media (max-width: $smartphone-width) {
      max-width: 260px;
    }
    .game-period {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.02em;
      opacity: 0.8;
      text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
      padding-bottom: 20px;
    }

    .price {
      margin: 10px;
      font-size: 30px;
      font-weight: bold;
    }

    .agree {
      display: flex;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: #a9c9ff;
      margin-bottom: 20px;
      @media (max-width: $smartphone-width) {
        margin-bottom: 10px;
        font-size: 12px;
      }
      a {
        padding-left: 5px;
        padding-right: 5px;
        color: #a9c9ff;
      }
    }
  }
}
.shop-and-play-layer {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: url("../../../resources/assets/img/background-layer.png")
    no-repeat center;
  background-size: 1200px 600px;

  @media screen and (max-height: $laptop-height) and (min-width: $smartphone-width) {
    bottom: 2%;
    background-size: 1150px auto;
  }
  @media (max-width: $smartphone-width) {
    background: url("../../../resources/assets/img/background-layer-mobile.png")
      no-repeat;
    position: absolute;
    top: 60px;
    background-size: 100% 100%;
  }
  @media (max-width: $smartphone-width) and (min-height: $smartphone-height) and (max-height: $iphone-x-height) {
    background-size: 100%;
  }
}
