@import "../../../resources/assets/styles/variables";
@import "~@mcaskill/sass-mq";

.button-area button,
.play-button {
  font-family: "Righteous";
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  background-color: #ffffff;
  padding: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: $color-primary;
  min-width: 160px;
  text-decoration: none;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
@include mq($until: mobileLandscape, $media-feature: height) {
  .button-area button,
  .play-button {
    margin: 0;
    padding: 5px;
    font-size: 3.2vh;
    margin-top: 5px;
  }
}
