@import "../../../resources/assets/styles/variables";
@import "~@mcaskill/sass-mq";

.button-area button,
.play-button {
  font-family: "Righteous";
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  background-color: $color-secondary;
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: $color-primary;
  text-decoration: none;
  min-width: 170.67px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@include mq($from: mobile, $and: mq($until: m-height, $media-feature: height)) {
  .button-area,
  .play-button {
    font-size: 17px;
    padding: 10px 15px;
  }
}
@include mq($from: mobile, $and: mq($until: s-height, $media-feature: height)) {
  .button-area,
  .play-button {
    font-size: 10px;
    padding: 0 15px;
    min-width: 80px;
  }
}

@include mq(
  $from: mobile,
  $and: mq($until: xs-height, $media-feature: height)
) {
  .button-area,
  .play-button {
    font-size: 8px;
  }
}
/*
@include mq($until: mobileLandscape, $media-feature: height) {
  .button-area button,
  .play-button {
    margin: 0;
    padding: 5px;
    font-size: 3.2vh;
    margin-top: 5px;
  }
}
*/
