@import "src/assets/screen-size";

.lost-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .confetti {
    position: fixed;
    top: 0%;
    left: 50%;
  }
  .title {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    margin: auto;
  }
  .description {
    margin: 5% auto 13%;
    padding: 2%;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }
  .button-area {
    margin: auto;
  }
  .left-eye {
    position: fixed;
    left: 35%;
    top: 45%;
  }
  .right-eye {
    position: fixed;
    right: 35%;
    top: 45%;
  }
  .lips {
    position: fixed;
    right: 48%;
    top: 69%;
    width: 50px;
    height: 10px;
    border-radius: 30px;
    background-color: black;
    opacity: 0.3;
    @media (max-height: $laptop-height) {
      top: 74%;
    }
  }
}
