@import "../../../resources/assets/styles/variables";
@import "~@mcaskill/sass-mq";

.logo {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  img {
    width: 80%;
  }
}
@include mq($until: s-height, $media-feature: height) {
  .logo {
    top: 15px;
    text-align: center;
    position: absolute;
    img {
      width: 60%;
    }
  }
}
@include mq($until: mobile) {
  .logo {
    margin-top: 26px;
    text-align: center;
    position: initial;
    img {
      width: 60%;
    }
    @include mq($until: $smartphone-height, $media-feature: height) {
      margin-top: 14px;
    }
  }
}
