* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Righteous";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Righteous-Regular.ttf");
}
@font-face {
  font-family: "Open sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.ttf");
}
body {
  font-family: "Open sans";
}

.button-area {
  display: flex;
  margin: auto;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 493px;
  row-gap: 50px;
}

.shop-and-play-layer {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: url("../../../resources/assets/img/background-layer.png")
    no-repeat center;
  background-size: 1200px 600px;
}

@include mq($until: tablet-portrait) {
  .shop-and-play-layer {
    background: url("../../../resources/assets/img/background-layer-mobile.png")
      no-repeat;
    position: absolute;
    top: 30px;
    background-size: 100%;
    min-width: 580px;
  }
}
