@import "../../../resources/assets/styles/variables";

form {
  font-family: "Open sans";
  align-items: center;
  display: flex;
  flex-direction: column;

  input[type="text"] {
    padding: 0px 10px 10px 0;
    background-color: $color-primary;
    border: none;
    color: $color-secondary;
    border-bottom: 2px solid transparentize($color-secondary, 0.7);
    outline: none;
    font-size: 20px;
    width: 378.83px;
    text-align: center;
  }

  .top-placeholder {
    width: 378.83px;
    min-height: 19px;
  }

  input[type="text"]:focus {
    border-bottom: 2px solid $color-secondary;
  }

  input::-webkit-input-placeholder,
  .top-placeholder {
    color: $color-secondary;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    opacity: 0.6;
    text-align: left;
  }

  .error-message {
    color: $input-error-color;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    width: 378.83px;
  }

  label {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $input-info-color;
    margin: 12px auto;
    text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }

  .info {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $color-info;
    margin-top: 10px;
    @media screen and (-ms-high-contrast: active),
      screen and (-ms-high-contrast: none) {
      max-width: 378.83px;
    }
  }

  .loading-container {
    position: relative;
  }
}

@include mq($from: mobile, $and: mq($until: s-height, $media-feature: height)) {
  form {
    input[type="text"] {
      padding: inherit;
      padding-bottom: 5px;
      max-width: 230px;
      font-size: 9px;
    }

    .top-placeholder {
      width: 230px;
    }

    input::-webkit-input-placeholder,
    .top-placeholder {
      font-size: 9px;
    }

    .error-message {
      max-width: 230px;
    }

    .input-error-message {
      font-size: 7px;

      img {
        bottom: 17px;
      }
    }

    .info,
    label {
      font-size: 9px;
      max-width: 270px;
      margin: 0;
    }
  }
}

@include mq(
  $from: mobile,
  $and: mq($until: xs-height, $media-feature: height)
) {
  form {
    input[type="text"] {
      padding: inherit;
      padding-bottom: 5px;
      max-width: 170px;
      font-size: 9px;
    }

    .top-placeholder {
      width: 170px;
    }

    input::-webkit-input-placeholder,
    .top-placeholder {
      font-size: 9px;
    }

    .error-message {
      max-width: 170px;
    }

    .input-error-message {
      font-size: 5px;

      img {
        width: 10px;
        bottom: 17px;
      }
    }

    .info,
    label {
      font-size: 5px;
      max-width: 170px;
      margin: 0;
    }
  }
}

@include mq($until: mobile) {
  form {
    input[type="text"],
    .top-placeholder,
    .error-message {
      max-width: 325.99px;
    }
  }
}
