@import "../../../resources/assets/styles/variables";

form {
  font-family: "Open sans";
  align-items: center;
  display: flex;
  flex-direction: column;

  label {
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 5px;
    text-align: center;
    margin-top: 12px;
    color: transparentize($color-secondary, 0.2);

    &.info {
      font-style: italic;
      font-size: 11px;
    }
  }

  input[type="text"] {
    padding: 10px;
    background-color: $color-primary;
    border: none;
    color: $color-secondary;
    border-bottom: 2px solid transparentize($color-secondary, 0.7);
    outline: none;
    font-size: 20px;
    width: 75%;
  }

  input::-webkit-input-placeholder {
    color: $color-secondary;
    font-weight: 600;
    font-size: 1.6vh;
    line-height: 19px;
    letter-spacing: 0.02em;
    opacity: 0.6;
  }

  button {
    margin: 25px 0 25px 0;
    font-family: "Righteous";
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ffffff;
    padding: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: $color-primary;
    min-width: 160px;
    text-decoration: none;
    border: none;

    &:disabled,
    &[disabled] {
      color: $color-grey;
      pointer-events: none;
    }
  }

  .agree {
    display: flex;
    align-items: center;
    margin-top: 51px;
    font-size: 13px;
    width: 75%;
    color: $color-light-primary;

    .checkbox {
      box-sizing: border-box;
      width: 25px;
      margin: 0;
    }

    a {
      color: $color-light-primary;
    }
  }
}
