@import "variables";
@import "~@mcaskill/sass-mq";

.title {
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: $color-secondary;
}

.subtitle {
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: $color-secondary;
}

.description {
  padding: 6% 0 8% 0;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $color-secondary;
  text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

@include mq(
  $from: tablet-portrait,
  $and: mq($until: mobileLandscape, $media-feature: height)
) {
  .title {
    font-size: 6.14vh;
    line-height: initial;
    max-width: 60%;
    margin: 0 auto;
  }
  .description {
    padding: 0px;
    font-size: 3vh;
    max-width: 80%;
    margin: 0 auto;
  }
}
@include mq($until: tablet-portrait) {
  .description {
    font-size: 2.5vh;
    margin: 0 auto;
  }
}
