@import "variables";
@import "~@mcaskill/sass-mq";

.title {
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: $color-secondary;
  max-width: 496px;
  @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.subtitle {
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $color-secondary;
  max-width: 496px;
  @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 389px;
  }
}
.description {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $color-secondary;
  @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 389px;
  }
}

@include mq($from: mobile, $and: mq($until: m-height, $media-feature: height)) {
  .title {
    font-size: 40px;
    line-height: inherit;
    max-width: 350px;
  }
  .subtitle {
    font-size: 18px;
    line-height: inherit;
    max-width: 350px;
  }
  .description {
    font-size: 15px;
    line-height: inherit;
    max-width: 350px;
  }
}

@include mq($from: mobile, $and: mq($until: s-height, $media-feature: height)) {
  .title {
    font-size: 25px;
    max-width: 200px;
  }
  .subtitle {
    font-size: 13px;
    max-width: 200px;
  }
  .description {
    font-size: 10px;
    max-width: 200px;
  }
}

@include mq(
  $from: mobile,
  $and: mq($until: xs-height, $media-feature: height)
) {
  .title {
    font-size: 20px;
    max-width: 170px;
  }
  .subtitle {
    font-size: 10px;
    max-width: 170px;
  }
  .description {
    max-width: 170px;
  }
}

@include mq($until: mobile) {
  .title {
    font-size: 50px;
    line-height: 55px;
    max-width: 368px;
  }
  .subtitle {
    font-size: 22px;
    line-height: 30px;
    max-width: 332px;
  }
  .description {
    max-width: 332px;
  }
}
