@import "variables";
@import "~@mcaskill/sass-mq";

.title {
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: $color-secondary;
  max-width: 389px;
}

.subtitle {
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $color-secondary;
}
.description {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $color-secondary;
}
@include mq($until: m-height, $media-feature: height) {
  .title {
    font-size: 45px;
    line-height: inherit;
    max-width: 270px;
  }
  .subtitle {
    font-size: 18px;
    line-height: inherit;
    max-width: 350px;
  }
  .description {
    font-size: 15px;
    line-height: inherit;
    max-width: 350px;
  }
}
@include mq($until: s-height, $media-feature: height) {
  .title {
    font-size: 25px;
  }
  .subtitle {
    font-size: 13px;
    max-width: 200px;
  }
  .description {
    font-size: 10px;
    max-width: 200px;
  }
}
@include mq($until: xs-height, $media-feature: height) {
  .title {
    font-size: 20px;
    max-width: 170px;
  }
  .subtitle {
    font-size: 10px;
    max-width: 170px;
  }
  .description {
    max-width: 170px;
  }
}

/*
@include mq(
  $from: tablet-portrait,
  $and: mq($until: mobileLandscape, $media-feature: height)
) {
  .title {
    font-size: 6.14vh;
    line-height: initial;
    max-width: 60%;
    margin: 0 auto;
  }
  .subtitle {
    padding: 0px;
    font-size: 3vh;
    line-height: initial;
    max-width: 60%;
    margin: 0 auto;
  }
  .description {
    padding: 0px;
    font-size: 3vh;
    max-width: 80%;
    margin: 0 auto;
  }
}
@include mq($until: tablet-portrait) {
  .description {
    font-size: 2.5vh;
    margin: 0 auto;
    padding: 0;
  }
  .subtitle {
    font-size: 2.5vh;
    margin: 0 auto;
  }
}
*/
