$color-primary: #2e70de;
$color-light-primary: #a9c9ff;
$color-secondary: #ffffff;
$color-grey: #c4c4c4;

$laptop-height: 720px;

//SLOT MACHINE
$color-machine-levier: #7cabf9;
$color-machine-head: #023587;
