$color-primary: #2e70de;
$color-light-primary: #a9c9ff;
$color-secondary: #ffffff;
$color-grey: #c4c4c4;

//SLOT MACHINE
$color-machine-levier: #7cabf9;
$color-machine-head: #023587;
$color-machine-border: #2b6cd6;
//WEB RESPONSIVE
$laptop-height: 720px;
$smartphone-height: 641px;
$iphone-x-height: 823px;
$smartphone-width: 414px;
