@import "../../../resources/assets/styles/variables";

.win-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .confetti {
    position: fixed;
    top: 0%;
    left: 50%;
  }
  .title {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    margin: auto;
    @media (max-width: $smartphone-width) {
      font-size: 50px;
      width: 70%;
    }
  }
  .description {
    margin: 5% auto;
    width: 60%;
    padding: 2%;
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    @media (max-width: $smartphone-width) {
      width: 90%;
      margin-bottom: 10%;
    }
  }
  .button-area {
    margin: auto;
  }
}
