@import "../../../resources/assets/styles/variables";
@import "~sass-mq";

.game-container {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100vh;

  .game-content {
    position: relative;
    z-index: 10;
    margin: auto;

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 70px;
      font-size: 28px;
      font-style: normal;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #ffffff;
      text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    }

    .slot-machine {
      position: relative;
      width: 750px;
      height: 530px;
      z-index: 10;
      background: url("../../../resources/assets/img/slot-spot.png") no-repeat
        center;

      .description {
        display: flex;
        flex-direction: column;
        padding: 0 0 5px;
        font-size: 17px;

        .or {
          opacity: 0.5;
        }
      }

      .screen-container {
        margin: 50px auto 40px auto;
        width: 591px;
        height: 207px;
        border-radius: 150px;
        border: solid 12px $color-machine-border;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7);
        display: flex;
        overflow: hidden;

        .screen-column {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 34%;
          background-color: white;
          border-left: solid 5px $color-machine-border;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          img {
            position: relative;
            margin: 9px;
            top: 30%;
            user-select: none;
          }

          @keyframes spinIt {
            from {
              top: -200%;
            }
            to {
              top: 200%;
            }
          }
        }

        .screen-column-first {
          border-left: none;
        }
      }

      .shake-phone {
        display: none;
        justify-content: center;
        margin-bottom: 5%;

        img {
          margin-left: 35%;
        }

        .insert-coin {
          margin-left: 10%;
        }
      }

      .buttons-area {
        display: flex;
        margin-left: 38%;
      }
    }

    .slot-lever-support {
      position: absolute;
      width: 85px;
      height: 80px;
      top: 350px;
      left: 710px;
      z-index: 8;
      background: url("../../../resources/assets/img/slot-lever-support.png")
        no-repeat center;
      cursor: pointer;
    }

    .slot-lever {
      position: absolute;
      top: 26%;
      left: 755px;
      width: 13px;
      height: 218px;
      background-color: $color-machine-levier;
      z-index: 5;
      cursor: pointer;
    }

    .lever-slide {
      animation: 0.4s linear 2 alternate lever-slide-frame;
    }

    @keyframes lever-slide-frame {
      0% {
        top: 26%;
        height: 218px;
        background-color: $color-machine-levier;
      }
      100% {
        top: 69%;
        height: 0px;
        background-color: darken($color-machine-levier, 30%);
      }
    }

    .slot-hand {
      position: absolute;
      top: 23%;
      left: 736px;
      width: 52px;
      height: 52px;
      background-color: $color-machine-head;
      border-radius: 50%;
      z-index: 15;
      cursor: pointer;
    }

    .hand-slide {
      animation: 0.4s linear 2 alternate hand-slide-frame;
    }

    @keyframes hand-slide-frame {
      0% {
        top: 23%;
      }
      100% {
        top: 69%;
      }
    }
  }
  .shop-and-play-layer {
    z-index: 2;
    opacity: 0.4;
  }
}

.insert-coin {
  display: flex;
  margin-left: 4%;
  margin-top: 1%;
  width: 96px;
  height: 37px;
  background-color: #00000047;
  border-radius: 9px;

  .coin-line {
    margin: auto;
    justify-items: center;
    align-items: center;
    width: 44px;
    height: 0px;
    border-radius: 9px;
    border: 4px solid rgba(0, 0, 0, 0.4);
  }
}

@include mq($until: tablet-portrait) {
  .game-container {
    margin-top: 10%;
    display: block;
    height: 85vh;

    .game-content {
      display: flex;
      align-items: center;
      height: 100%;

      .title {
        font-size: 25px;
        margin-top: 12%;
        padding: 10px 35px;
      }

      .slot-machine {
        background: url("../../../resources/assets/img/slot-spot-mobile.png")
          no-repeat center;
        position: absolute;
        width: 100%;
        margin-bottom: 20%;
        background-size: 100% 100%;
        .screen-container {
          width: 350px;
          height: 150px;
          margin: auto auto 20px;
        }
        .screen-column {
          img {
            width: 60px;
          }
        }
        .shake-phone {
          display: flex;
        }
        .buttons-area {
          flex-direction: column;
          margin: auto;
          justify-content: center;
          align-items: center;
          .insert-coin {
            display: none;
          }
        }
      }
      .slot-lever,
      .slot-lever-support,
      .slot-hand {
        display: none;
      }
    }
  }
}

@include mq($from: mobile-sm, $until: mobile) {
  .game-container {
    .game-content {
      .slot-machine {
        background: url("../../../resources/assets/img/slot-spot-mobile.png")
          no-repeat center;
        position: absolute;
        width: 100%;
        margin-bottom: 0;
        background-size: 100% 94%;
      }
    }
  }
}
