@import "../../../resources/assets/styles/variables";
@import "~@mcaskill/sass-mq";

.game-container {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100vh;

  .game-content {
    position: relative;
    z-index: 10;
    margin: auto;
    display: flex;

    .slot-machine {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 750px;
      min-height: 530px;
      z-index: 10;
      background: url("../../../resources/assets/img/slot-spot.png") no-repeat
        center;
      background-size: 719.6px 530px;
      row-gap: 33px;

      .title {
        font-size: 28px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.03em;
        max-width: inherit;
      }

      .description {
        display: flex;
        flex-direction: column;
        padding: 0 0 5px;
        font-size: 17px;

        .or {
          opacity: 0.5;
        }
      }

      .screen-container {
        width: 615px;
        height: 231px;
        border-radius: 150px;
        border: solid 12px $color-machine-border;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7);
        display: flex;
        overflow: hidden;

        .screen-column {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 34%;
          background-color: white;
          border-left: solid 5px $color-machine-border;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          img {
            position: relative;
            margin: 9px;
            user-select: none;
            top: 30%;
            width: 50%;
            //IE
            @media screen and (-ms-high-contrast: active),
              screen and (-ms-high-contrast: none) {
              top: -480%;
            }
          }

          @keyframes spinItIE {
            from {
              top: -600%;
            }
            to {
              top: 0%;
            }
          }
          @keyframes spinIt {
            from {
              top: -200%;
            }
            to {
              top: 200%;
            }
          }
        }

        .screen-column-first {
          border-left: none;
        }
      }

      .shake-phone {
        display: none;
        justify-content: center;
        margin-bottom: 5%;

        img {
          margin-left: 35%;
        }

        .insert-coin {
          margin-left: 10%;
        }
      }

      .buttons-area {
        display: flex;
        margin-left: 15%;
      }
    }

    .slot-lever-support {
      position: absolute;
      width: 85px;
      height: 80px;
      top: 332px;
      left: 702px;
      z-index: 8;
      background: url("../../../resources/assets/img/slot-lever-support.png")
        no-repeat center;
      cursor: pointer;
      background-size: 85px 80px;
    }

    .slot-lever {
      position: absolute;
      top: 121px;
      left: 746px;
      width: 13px;
      height: 218px;
      background-color: $color-machine-levier;
      z-index: 5;
      cursor: pointer;
    }

    .lever-slide {
      animation: 0.4s linear 2 alternate lever-slide-frame;
    }

    @keyframes lever-slide-frame {
      0% {
        top: 26%;
        height: 218px;
        background-color: $color-machine-levier;
      }
      100% {
        top: 69%;
        height: 0px;
        background-color: darken($color-machine-levier, 30%);
      }
    }

    .slot-hand {
      position: absolute;
      top: 101px;
      left: 727px;
      width: 52px;
      height: 52px;
      background-color: $color-machine-head;
      border-radius: 50%;
      z-index: 15;
      cursor: pointer;
    }

    .hand-slide {
      animation: 0.4s linear 2 alternate hand-slide-frame;
    }

    @keyframes hand-slide-frame {
      0% {
        top: 23%;
      }
      100% {
        top: 69%;
      }
    }
  }

  .shop-and-play-layer {
    z-index: 2;
    opacity: 0.4;
  }
}

.insert-coin {
  display: flex;
  margin-left: 4%;
  margin-top: 1%;
  width: 96px;
  height: 37px;
  background-color: #00000047;
  border-radius: 9px;

  .coin-line {
    margin: auto;
    justify-items: center;
    align-items: center;
    width: 44px;
    height: 0px;
    border-radius: 9px;
    border: 4px solid rgba(0, 0, 0, 0.4);
  }
}

@include mq($from: mobile, $and: mq($until: m-height, $media-feature: height)) {
  .game-container {
    .game-content {
      .slot-machine {
        background-size: 550px auto;
        row-gap: 20px;

        .title {
          font-size: 24px;
          line-height: 30px;
          text-align: center;
          letter-spacing: 0.03em;
          max-width: inherit;
        }

        .screen-container {
          width: 500px;
          height: 190px;
        }
      }

      .slot-lever-support {
        top: 307px;
        left: 622px;
        background-size: 65px;
      }

      .slot-lever {
        top: 27%;
        left: 666px;
        width: 10px;
        height: 175px;
      }

      .slot-hand {
        top: 26.5%;
        left: 651px;
        width: 40px;
        height: 40px;
      }
    }
  }
}

@include mq($from: mobile, $and: mq($until: s-height, $media-feature: height)) {
  .game-container {
    .game-content {
      .slot-machine {
        min-height: 300px;
        background-size: 300px auto;
        row-gap: 5px;

        .title {
          font-size: 14px;
          line-height: 30px;
          text-align: center;
          letter-spacing: 0.03em;
          max-width: inherit;
        }

        .screen-container {
          width: 270px;
          height: 110px;
        }
      }

      .slot-lever-support {
        top: 147px;
        left: 495px;
        background-size: 52px;
      }

      .slot-lever {
        top: 25%;
        left: 538px;
        width: 7px;
        height: 100px;
      }

      @keyframes lever-slide-frame {
        0% {
          top: 25%;
          height: 100px;
        }
        100% {
          top: 60%;
          height: 0px;
        }
      }

      .slot-hand {
        top: 17.5%;
        left: 524px;
        width: 35px;
        height: 35px;
      }

      @keyframes hand-slide-frame {
        0% {
          top: 17.5%;
        }
        100% {
          top: 60%;
        }
      }

      .shake-phone {
        .description {
          display: none;
        }
      }

      .buttons-area {
        margin-left: 7% !important;

        .insert-coin {
          width: 50px;
          height: 25px;
          border-radius: 6px;

          .coin-line {
            width: 30px;
            border-radius: 6px;
            border: 3px solid rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
  }
}

@include mq(
  $from: mobile,
  $and: mq($until: xs-height, $media-feature: height)
) {
  .game-container {
    .game-content {
      .slot-machine {
        min-height: 200px;
        background-size: 230px auto;
        row-gap: 0;

        .title {
          font-size: 10px;
        }

        .screen-container {
          width: 200px;
          height: 90px;
        }
      }

      .slot-lever-support {
        top: 95px;
        left: 458px;
        background-size: 40px;
      }

      .slot-lever {
        top: 25%;
        left: 500px;
        width: 5px;
        height: 80px;
      }

      @keyframes lever-slide-frame {
        0% {
          top: 25%;
          height: 100px;
        }
        100% {
          top: 60%;
          height: 0px;
        }
      }

      .slot-hand {
        left: 490px;
        width: 25px;
        height: 25px;
      }

      @keyframes hand-slide-frame {
        0% {
          top: 17.5%;
        }
        100% {
          top: 60%;
        }
      }

      .shake-phone {
        .description {
          display: none;
        }
      }

      .buttons-area {
        .insert-coin {
          width: 50px;
          height: 25px;
          border-radius: 6px;

          .coin-line {
            width: 30px;
            border-radius: 6px;
            border: 3px solid rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
  }
}

@include mq($until: mobile) {
  .game-container {
    display: block;
    height: 530px;
    @include mq($until: $smartphone-height, $media-feature: height) {
      height: 465px;
    }
    .game-content {
      display: flex;
      align-items: center;
      height: 100%;

      .title {
        font-size: 28px;
        width: 262px;
      }

      .slot-machine {
        background: url("../../../resources/assets/img/slot-spot.png") no-repeat
          center;
        position: absolute;
        width: 100%;
        background-size: 507px 530px;
        row-gap: 3px;
        @include mq($until: $smartphone-height, $media-feature: height) {
          background-size: 507px 465px;
        }

        .screen-container {
          width: 350px;
          height: 127px;
          margin: 5px auto;
          @include mq($until: $smartphone-height, $media-feature: height) {
            width: 320px;
          }
        }

        .screen-column {
          img {
            width: 60px;
          }
        }

        .shake-phone {
          display: flex;
        }

        .buttons-area {
          flex-direction: column;
          margin: 0 auto;
          justify-content: center;
          align-items: center;

          .insert-coin {
            display: none;
          }
        }
      }

      .slot-lever,
      .slot-lever-support,
      .slot-hand {
        display: none;
      }
    }
  }
}
